.home {
  margin: 4rem auto;
  text-align: center;
}
.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 3rem;
    
}
.profile.rounded-corners {
  border-radius: 50px;
  justify-self: right;
}

.intro {
    text-align: center;
    justify-self: left;
}
