:root {
  --content-size: 2rem;
  --img-size: calc(5 * var(--content-size));
  --img-margin: calc(2 * var(--content-size));
  --resource-size: calc(1.5 * var(--img-size));
  --background-length: auto;
}

.content {
  /* Background */
  position: absolute;
  width: 100%;
  height: var(--background-length);
  left: 0px;
  top: var(--header-height);
  z-index: 0;
  background: var(--background-color);

  font-size: var(--content-size);
  font-family: var(--font);
  color: var(--content-color);
}

.text {
  margin: 25%;
  margin-top: var(--content-size);
  margin-bottom: var(--img-margin);
}

.resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: var(--img-margin);
  width: var(--resource-size);
  height: var(--resource-size);

  transition: 0.5s;
  border-radius: 1.5rem;
}

.resource:hover {
  background: var(--hover-tint-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span {
  margin: var(--content-size);
}

.trans {
  background: linear-gradient(
    90deg,
    #55cdfc 0%,
    #55cdfc 12%,
    #f7a8b8 22%,
    #f7a8b8 35%,
    #ffffff 45%,
    #ffffff 55%,
    #f7a8b8 65%,
    #f7a8b8 77%,
    #55cdfc 87%,
    #55cdfc 100%
  );
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {
  width: var(--img-size);
  height: var(--img-size);
}
