:root {
  --icon-size: 3em;
  --icon-spacing: calc(1.5 * var(--icon-size));
}

.footer {
  position: absolute;
  height: 144px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: auto;

  /* Secondary Accent */

  background: #0390af;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, var(--icon-spacing));
  /* grid-column-start: 3; */
  /* padding: 15px; */
  /* max-width: 300px; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-gap: 30px; */
  /* justify-items: center;
  align-items: center; */
}
.fa-linkedin:hover,
.fa-github-square:hover,
.fa-envelope-square:hover {
  transform: scale(1.5);
}

.fa-linkedin,
.fa-github-square,
.fa-envelope-square {
  color: #fff;
  font-size: var(--icon-size);
  transition: transform 0.2s;
}
