:root {
  --header-height: 6rem;
  --button-size: calc(var(--header-height) * 0.65);
  --icon-size: calc(var(--button-size) * 0.75);
  --margin: 1rem;
  --margin-secondary: calc(var(--margin) * 0.5);
  --name-height: calc(var(--header-height) / 2);
}

.header {
  /* Header Background */
  z-index: 1;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: row;

  /* Header Background */

  background: var(--header-background-color);
}

.logo-container {
  margin: var(--margin);
  display: flex;
  align-items: center;
  justify-content: center;
}
.spacer {
  flex-grow: 10;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
}

.button {
  /* Button */
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-secondary);
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.1);
  background: var(--hover-tint-color);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.logo {
  width: var(--button-size);
  height: var(--button-size);
  margin: var(--margin-secondary);
}

.name {
  font-family: var(--font);
  font-size: var(--name-height);
  font-weight: bold;
  color: var(--header-color);
  margin: var(--margin-secondary);
}
